.player-hand {
    width: 200px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}