.player-box {
    width: 15%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);

}

.player-box img {
    width: 40%;
    object-fit: contain;
}